@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model dotnet_ef_core_6.DataContext.KosEntity
@{
    ViewBag.Title = "title";
    Layout = "_Layout";

}
<div>
    <h2>Edit Kos</h2>
    <form asp-controller="Kos" asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="NamaPenyewa"></label>
            <input asp-for="NamaPenyewa" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Gender"></label>
            <input asp-for="Gender" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Status"></label>
            <input asp-for="Status" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Sewa"></label>
            <input asp-for="Sewa" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="JenisKos"></label>
            <input asp-for="JenisKos" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LamaSewa"></label>
            <input asp-for="LamaSewa" class="form-control" />
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

</div>
